@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem;
}

@layer components {
  .todoGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 350px));
    gap: 2rem;
    justify-content: center;
  }
}
